.base {
  width: 98vw;
  display: none;
  overflow: auto;
}

.first-line, .brand {
  display: inline;
}

.first-line {
  float: right;
  margin: 0;
}

.brand {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 8px;
}

.brand, .count {
  color: $message-color;
}

.welcome {
  font-size: 1.5rem;
  color: $emphasis-color;
  font-style: italic;
  margin-right: 8px;
}

.messages {
  height: 60vh;
  width: 96vw;
  margin: 0 auto;
  overflow: auto;
  overflow-y: auto;
  color: $compliment-color;
  background: $anchor-color;
  border: 1px solid $emphasis-color;
}

.message-box, .door-box, .own-message {
  margin-top: 1px;
  margin-bottom: 0;
}

.message-box {
  color: $compliment-color;
}

.door-box {
  opacity: .5;
  font-size: 0.75rem;
  font-style: italic;
}

.own-message {
  color: $emphasis-color;
}

.content {
  color: $background-color;
}

.begin {
  /*@include transform(opacity 500);
  @include transition();*/
}

.present {
  width: 60%;
}

.name-box {
  display: inline-block;
  opacity: .6;
  margin: 1px;
  padding: 0 4px;
  @include gradient($message-color, $anchor-color);
  color: $compliment-color;
  @include border-radius(2px);
  &:hover {
    cursor: pointer;
    @include box-shadow(0, 0, 25px, $emphasis-color);
  };
}

.typing {
  color: $emphasis-color;
  font-size: .75rem;
}
